{#
/**
 * Certificazioni del fabbricante
 */
#}
<div class="wrapper-fabr-cert">
  <div class="fabr-cert fabr-cert-qual">
    <div class="fabr-cert-content">
      <p><strong>{{ 'Quality certification'|trans }}</strong></p>
      <img src="{{ content.path }}/cert-qualita.svg" class="img-responsive"/>
    </div>
  </div>
  <div class="fabr-cert fabr-cert-amb">
    <div class="fabr-cert-content">
      <p><strong>{{ 'Environmental certification'|trans }}</strong></p>
      <img src="{{ content.path }}/cert-ambientale.svg" class="img-responsive"/>
    </div>
  </div>
  <div class="fabr-cert fabr-cert-eti">
    <div class="fabr-cert-content">
      <p><strong>{{ 'Ethical certification'|trans }}</strong></p>
      <img src="{{ content.path }}/cert-etica.svg" class="img-responsive"/>
    </div>
  </div>
</div>