{#
/**
 * Home Block
 */
#}

{{ attach_library('sameh/sameh') }}

<div class="card-blocks wrapper-sameh">
  <div class="home-block-card vc text-center">
    <div class="sameh">
      <i class="material-icons">favorite_border</i>
      <h2><a href="/node/1381">{{'Ethic'|trans}}</a></h2>
      <p class="small">{{'Behind Falpi products there are passionate people who share the values of the social quality.'|trans}}</p>
    </div>
    <a href="/node/1381" class="btn btn-default btn-lg margin-t-1">Made in italy</a>
  </div>
  <div class="home-block-card vc text-center">
    <div class="sameh">
      <i class="material-icons">done</i>
      <h2><a href="/node/1383">{{'Quality'|trans}}</a></h2>
      <p class="small">{{'Falpi designs and manufactures all its products in Italy, as synonym of quality and reliability.'|trans}}</p>
    </div>
    <a href="/node/1383" class="btn btn-default btn-lg margin-t-1">{{'Certifications'|trans}}</a> 
  </div>
  <div class="home-block-card vc text-center">
    <div class="sameh">
      <i class="material-icons">refresh</i>
      <h2><a href="/node/1382">{{'Environment'|trans}}</a></h2>
      <p class="small">{{'Falpi has always considered the social and environmental commitment a life choice, a real and certified undertaking.'|trans }}</p>
    </div>
    <a href="/node/1382" class="btn btn-default btn-lg margin-t-1">{{'Green timeline'|trans}}</a>
  </div>
</div>