{#
/**
 * Node Template
 * use {{ kint(content)}} to inspect content variable
 * use {{ kint(_context) }} to inspect every variable passed to this file
 * for more information: 
 * https://www.drupal.org/node/1906780
 */
#}
{%
  set classes = [
    'node-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}

<div{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('content') }}>
    <div class="wrapper-teaser-square">
      <a href="{{url}}">
        {{ content.img_head }}
        {{ content.img }}
      </a>
      {{ content.code }}
      {{ content.debug }}
    </div>
    <div class="product-teaser-title">
      {{ content.title }}
      <p class="product-teaser-subtitle small">
        {{ content.subtitle }}
      </p>
    </div>
  </div>
</div>
