{#
/**
 * Footer Mittelmoda
 */
#}

<div class="wrapper-footer">
  <div class="logo footer-logo">
    <a href="/" title="{{ content.site_name }}">
      {{ content.logo }}
    </a>
  </div>

  <div class="footer-content margin-b-05 small">
    
    {{ content.menu }}
    {{ content.text }}
    {{ content.social }}

    <p class="footer-common-link">&copy; Copyright {{ content.created }}{{ content.year }} {{ content.site_name }}. All rights reserved |
      <a href="/cookie" class="a-footer" title="Cookie Policy">Cookie Policy</a> |
      <a href="/privacy" class="a-footer" title="Privacy Policy">Privacy Policy</a> |
      Web design by <a href="http://www.mekit.it" title="Mekit" class="a-footer" target="_blank">Mekit</a> |
      <a href="/user" class="a-footer" title="Admin">Admin</a>
    </p>
  </div>
  <div class="footer-fb small">
    <p class="footer-common-link">

      <a href="https://www.facebook.com/Mittelmoda/" target="_blank" class="a-footer" title="Mittelmoda Facebook">Facebook</a> &nbsp; 
      <a href="https://www.instagram.com/mittelmoda" target="_blank" class="a-footer" title="Mittelmoda Instagram">Instagram</a>  
    </p>
  </div>
</div>