{#
/**
 * Node Teaser News
 */
#}
{%
  set classes = [
    'node-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'margin-b-1',
  ]
%}

<div{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('content') }}>
    <div class="row">
      <div class="col-md-6">
        {{content.field_image}}
      </div>
      <div class="col-md-6">
        <div class="news-teaser-content">
          <p class="small">

            {{content.field_date.0}}
          </p>
          {{content.title}}
          <p class="small">
            {% set text = content.body|render %}
            {% set text = text|striptags %}
            {{ text }} [...]
          </p>
          <a href="{{url}}" class="btn btn-with-arrow btn-ghost btn-cutted">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
