<!-- Add you custom twig html here -->

<div class="wrapper-footer">

  {#<div class="logo wrapper-footer-logo">#}
    {#<a href="/" title="{{ content.site_name }}">#}
      {#{{ content.logo }}#}
    {#</a>#}
  {#</div>#}

  <div class="footer-content text-center small">

    {#<div class="wrapper-footer-menu">#}
      {#{{ content.menu }}#}
    {#</div>#}

    {#{{ content.text }}#}


    {#<div class="wrapper-footer-social">#}
      {#<ul class="footer-social">#}
        {#<li>#}
          {#<a href="https://www.linkedin.com/company/jakabadambalazs/" target="_blank">#}
            {#<img src="/themes/jab/img/social/ico-in.svg"/>#}
          {#</a>#}
        {#</li>#}
        {#<li>#}
          {#<a href="https://www.facebook.com/jakabadambalazs" target="_blank">#}
            {#<img src="/themes/jab/img/social/ico-fb.svg"/>#}
          {#</a>#}
        {#</li>#}
        {#<li>#}
          {#<a href="https://www.youtube.com/channel/xxx" target="_blank">#}
            {#<img src="/themes/jab/img/social/ico-yt.svg"/>#}
          {#</a>#}
        {#</li>#}
      {#</ul>#}
    {#</div>#}

    {#<hr>#}

    <p class="footer-common-link">
      <strong>JAB</strong> &copy; Copyright {{ content.created }}{{ content.year }} {{ content.site_name }}. All rights reserved</p>
  </div>
</div>