<!-- Add you custom twig html here -->

<div class="wrapper-footer">
  <div class="logo wrapper-footer-logo">
    <a href="/" title="{{ content.site_name }}">
      {{ content.logo }}
    </a>
  </div>

  <div class="footer-content text-center margin-b-05 small">
    
    <div class="wrapper-footer-menu">
      {{ content.menu }}
    </div>

    {{ content.text }}

    {{ content.social }}

    <hr>

    <p class="footer-common-link">&copy; Copyright {{ content.created }}{{ content.year }} {{ content.site_name }}. All rights reserved |
      <a href="/cookie" title="Cookie Policy">Cookie Policy</a> |
      <a href="/privacy" title="Privacy Policy">Privacy Policy</a> |
      Web design by <a href="http://www.mekit.it" title="Mekit" target="_blank">Mekit</a> |
      <a href="/user" title="Admin">Admin</a>
    </p>
  </div>
</div>